<a href="https://colab.research.google.com/github/Mayank2225/Machine-Learning-Application-for-Mechanical-Engineering/blob/main/Pandas_210598_Mayank_Singh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Pandas Exercise
We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along. One of the objectives of this assignment is to help you become accustomed to searching for relevant library functions online.

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

from google.colab import files
uploaded = files.upload()
df=pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
dfbasemean=df['BasePay'].mean()
print(dfbasemean)

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
dfovermax=df['OvertimePay'].max()
print(dfovermax)

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
a=df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']
print(a)

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
b=df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']
print(b)

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [ ]:
highestpaid=df['TotalPayBenefits'].max()
c=df[df['TotalPayBenefits'] == highestpaid]['EmployeeName']
print(c)

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
lowestpaid=df['TotalPayBenefits'].min()
d=df[df['TotalPayBenefits'] == lowestpaid]['EmployeeName']
print(d)

148653    Joe Lopez
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
base11=df[df['Year'] == 2011]['BasePay']
avg11=base11.mean()
print(avg11)
base12=df[df['Year'] == 2012]['BasePay']
avg12=base12.mean()
print(avg12)
base13=df[df['Year'] == 2013]['BasePay']
avg13=base13.mean()
print(avg13)
base14=df[df['Year'] == 2014]['BasePay']
avg14=base14.mean()
print(avg14)

63595.95651677314
65436.40685742263
69630.03021648065
66564.42192449959

**How many unique job titles are there?**

In [ ]:
unique_jobs=df['JobTitle'].nunique()
print(unique_jobs)

2159

**What are the top 5 most common jobs?**

In [ ]:

top5job=df['JobTitle'].value_counts()[:5]
print(top5job)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
base13=df[df['Year'] == 2013]['JobTitle']
a=base13.value_counts()
b=a.count()
print(b)

1051

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
Chief_count=df.JobTitle.str.count("CHIEF").sum()
print(Chief_count)

204

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

*Search what correlation is and how you can calculate that using Pandas*

In [ ]:
df['JobTitle']=df['JobTitle'].astype('category').cat.codes
df.corr()

,Id,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
Id,1.000000,0.072410,-0.204878,-0.081505,-0.100403,-0.348957,-0.211478,-0.092190,0.968171,NaN,NaN
JobTitle,0.072410,1.000000,-0.152562,0.027841,-0.029998,-0.154553,-0.126499,-0.120566,0.045861,NaN,NaN
BasePay,-0.204878,-0.152562,1.000000,0.266740,0.285655,0.918028,0.954494,0.946595,0.033751,NaN,NaN
OvertimePay,-0.081505,0.027841,0.266740,1.000000,0.316592,0.301207,0.504859,0.467981,0.027887,NaN,NaN
OtherPay,-0.100403,-0.029998,0.285655,0.316592,1.000000,0.233178,0.470496,0.422341,-0.002499,NaN,NaN
Benefits,-0.348957,-0.154553,0.918028,0.301207,0.233178,1.000000,0.884097,0.930140,-0.043136,NaN,NaN
TotalPay,-0.211478,-0.126499,0.954494,0.504859,0.470496,0.884097,1.000000,0.977313,0.032090,NaN,NaN
TotalPayBenefits,-0.092190,-0.120566,0.946595,0.467981,0.422341,0.930140,0.977313,1.000000,0.151947,NaN,NaN
Year,0.968171,0.045861,0.033751,0.027887,-0.002499,-0.043136,0.032090,0.151947,1.000000,NaN,NaN
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Just one more assignment 🙂